# Plugin Requirements
netbox-acls
netbox-bgp
netboxlabs-netbox-branching
netbox-plugin-dns
netboxlabs-diode-netbox-plugin
netbox-floorplan-plugin
ipfabric-netbox
netbox-topology-views
netbox-reorder-rack
netbox-config-diff
netbox-ipcalculator
netbox-interface-synchronization
netbox-inventory
netbox-lifecycle
netbox-routing
netbox-security
netbox-validity
